@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

.fonts {
  font-family: "Libre Franklin", sans-serif;
}

.active {
  color: #f09b3b !important;
}
